header{
    text-align: center;
    background-color: #efefef;
    padding: 2em;
}
nav ul li{
	display: inline-block;
}
nav ul li a, nav ul li a:visited{
	text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border: 1px solid #f8f8f8;
    border-radius: 7px;
}
nav ul li a:hover, nav ul li a:active{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #FF2222;
}
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background-color: #efefef;
    text-align: center;
}
.container{
	padding: 0.5rem 5rem;
	margin: auto;
}